<div class="container">
  <h1>Bienvenido a mi Aplicacion</h1>
  <p>Diseñe esta pagina para mostrar mi interes en ciertos equipos de basketball</p>

  <h2>Equipos de Baloncesto</h2>
  <p>A continuación, se presentan algunos de los equipos más populares:</p>

  <ul class="team-list">
    <li>
      <button (click)="navigateTo('/lakers')" class="btn btn-primary btn-block">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Los_Angeles_Lakers_logo.svg" alt="Los Angeles Lakers" class="team-logo">
        <strong>Los Angeles Lakers</strong>
        <p>Un equipo con una rica historia y múltiples campeonatos de la NBA.</p>
      </button>
    </li>
    <li>
      <button (click)="navigateTo('/bulls')" class="btn btn-primary btn-block">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/67/Chicago_Bulls_logo.svg" alt="Chicago Bulls" class="team-logo">
        <strong>Chicago Bulls</strong>
        <p>Famosos por su dinastía en los años 90 con Michael Jordan.</p>
      </button>
    </li>
    <li>
      <button (click)="navigateTo('/warriors')" class="btn btn-primary btn-block">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/01/Golden_State_Warriors_logo.svg" alt="Golden State Warriors" class="team-logo">
        <strong>Golden State Warriors</strong>
        <p>Conocidos por su estilo de juego rápido y sus recientes campeonatos.</p>
      </button>
    </li>
    <li>
      <button (click)="navigateTo('/celtics')" class="btn btn-primary btn-block">
        <img src="https://upload.wikimedia.org/wikipedia/en/8/8f/Boston_Celtics.svg" alt="Boston Celtics" class="team-logo">
        <strong>Boston Celtics</strong>
        <p>Uno de los equipos más exitosos en la historia de la NBA.</p>
      </button>
    </li>
    <li>
      <button (click)="navigateTo('/heat')" class="btn btn-primary btn-block">
        <img src="https://upload.wikimedia.org/wikipedia/en/f/fb/Miami_Heat_logo.svg" alt="Miami Heat" class="team-logo">
        <strong>Miami Heat</strong>
        <p>Un equipo competitivo con varios campeonatos en su haber.</p>
      </button>
    </li>
  </ul>

  <p>Explora nuestra aplicación para obtener más información sobre estos equipos y otros aspectos del baloncesto.</p>
</div>
