<div class="container">
  <h1>Bienvenido al Sistema de Inventario</h1>
  <p>Esta aplicación le permite gestionar y controlar su inventario de productos</p>

  <h2>Menú Principal</h2>
  <p>Seleccione para gestionar:</p>

  <ul class="category-list">
    <li>
      <button (click)="navigateTo('/usuarios')" class="custom-button">
        <img src="https://cdn.pixabay.com/photo/2021/11/22/22/53/inventory-6817561_1280.png" alt="Productos" class="button-icon">
        <strong>Gestión de Productos</strong>
        <p>Registre, actualice y consulte todos los productos en inventario.</p>
      </button>
    </li>
  </ul>

  <p>Utilice el menú superior para acceder a todas las funcionalidades del sistema.</p>
</div>